streamlit
pandas
numpy
matplotlib
seaborn
japanize-matplotlib
wordcloud
torch
transformers
huggingface_hub
sudachipy
sudachidict_core
neologdn
beautifulsoup4
requests
selenium
webdriver_manager
networkx